<form class="mt-4" name="container-form" method="POST" action="/posts/handle-form-actions">
    <div>
        <h3>My posts</h3>
        <a href="/me/trash/posts">Trash ({{deletedCount}})</a> 

        <div class="mt-4 d-flex align-items-center">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
              Check all
            </label>
          </div>
          <select class="m-2 form-control form-control-sm checkbox-select-all-options" name="action" required>
            <option value="">-- Actions --</option>
            <option value="delete">Delete</option>
          </select>

          <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Action</button>
        </div>
    </div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col-sm" colspan="2">#</th>
                <th scope="col-sm">Post title</th>
                <th scope="col-sm">Content</th>
                <th scope="col-sm" colspan="2">Created at</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
                <tr>    
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="postIds[]" value="{{this._id}}">
                      </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.title}}</td>
                    <td class="" style="white-space: nowrap;">{{{this.content}}}</td>
                    <td>{{this.createdAt}}</td>
                    <td class="d-flex">    
                      <a href="/posts/{{this._id}}/edit" class="btn btn-primary mr-2">Edit</a>
                      <a href="" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-post-modal">Delete</a>
                    </td>
                </tr>

            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        You have no posts yet.
                        <a href="/posts/create">Create post</a>
                    </td>
                </tr>

            {{/each}}
        </tbody>
    </table>
    </div>
</form>


<div id="delete-post-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer d-flex">
        <button id="btn-delete-post" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-post-form" class="hidden" method="Get"></form>

<script>
    //when dialog confirm clicked
    document.addEventListener('DOMContentLoaded', function(){
        var postId;
        var deleteForm = document.forms['delete-post-form'];
        //var containerForm  = document.forms['container-form'];
        var containerForm  = $('form[name="container-form"]');
        var btnDeletePost = document.getElementById("btn-delete-post");
        var checkboxAll = $('#checkbox-all');
        var postItemCheckbox = $('input[name="postIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        $('#delete-post-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            postId = button.data('id');
         });
       
         btnDeletePost.onclick = function(){
            deleteForm.action = '/posts/' + postId + '?_method=DELETE';
            deleteForm.submit();
         }

        //Checkbox all changed
         checkboxAll.change(function(){
           var isCheckedAll = $(this).prop('checked');
            postItemCheckbox.prop('checked', isCheckedAll); 
            renderCheckAllSubmitBtn(); 
         });

        //Course item checkbox changed
        postItemCheckbox.change(function(){
          var isCheckedAll = postItemCheckbox.length === $('input[name="postIds[]"]:checked').length;
          checkboxAll.prop('checked',isCheckedAll);
          renderCheckAllSubmitBtn();
        });

        /*Check all submit button clicked
        containerForm.on("submit", function(e){
            var isSubmittable = !checkAllSubmitBtn.hasClass('disabled');
            if(!isSubmittable){
              e.preventDefault();
            }
        });
        */

        //Re-render check all submit button
        function renderCheckAllSubmitBtn(){
          var checkedCount = $('input[name="postIds[]"]:checked').length;
          if(checkedCount > 0){
            checkAllSubmitBtn.attr('disabled',false);
          }else{
            checkAllSubmitBtn.attr('disabled',true);
          }

        }
    });
</script>